build/
cmake-build-*/
.vs/
.idea/
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.pdb
*.ilk
*.suo
*.user
*.ncb
*.idb
*.opensdf
*.sdf
*.aps
*.ilk
*.map
*.exp
*.res
*.db
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
